@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
    --color: #ffffff;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--color);
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#root {
    display: grid;
    justify-content: center;
    text-align: center;
}

#root .notify {
    display: flex;
    position: relative;
    flex: auto;
    min-width: 20rem;
    width: fit-content;
    height: 6.0rem;
    top:20%;
    /* margin: auto;
    right: -131%; */
    filter: drop-shadow(0 -4px 3px rgba(0, 0, 0, .1));
    -webkit-backdrop-filter: blur(3.7px);
    background: linear-gradient(180deg, #00000018, #00fff256); 
    border-radius: 1.7rem;
    /* border-top-style: solid;
    border-top-width: thin;
    border-top-color: rgba(0, 151, 143, 0.213); */
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(0, 255, 242, 0.283);
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: rgba(0, 255, 242, 0.283);
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: rgba(0, 255, 242, 0.283);
    /* margin-top: .5rem; */
    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    align-items: center;
     box-shadow: rgb(255, 255, 255); 
}

#root .innerText {
    padding-left: .4rem;
    padding-right: .4rem;
    width: 100%;
}

#root .icon {
    display: none;
    float: right;
    color: #22283100;
}

#root .text {
    display: inline-block;
    margin-left: .5rem;
    align-items: center;
    text-shadow:
    0 0 7px rgba(250, 250, 250, 0.534),
    0 0 7px rgba(250, 250, 250, 0.493);
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          padding-top: 10px;
}

#root .error {
    /* border-top: 3px solid #ffffffd7;  */
}

#root .success {
    /* border-top: 3px solid #ffffffd7;  */
}

#root .info {
     /* border-top: 3px solid #ffffffd7;  */
}

.material-symbols-outlined {
    font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
}

  /*CONTAINER ANIMATION*/
  @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  
  
  

  /*TEXT ANIMATION*/
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  #root .root-bell {
    /* display: grid; */
    animation: bell 1s 1s both infinite;
    align-items: center;
  }
  #root .root-bell * {
    display: grid;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #ffffff98;
  }
  .bell-top {
    width: 3px;
    height: 3px;
    border-radius: 3px 3px 0 0;
  }
  .bell-middle {
    width: 13px;
    height: 13px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
  }
  .bell-bottom {
    position: relative;
    z-index: 0;
    width: 16px;
    height: 2px;
  }
  .bell-bottom::before,
  .bell-bottom::after {
    content: '';
    position: absolute;
    top: -4px;
  }
  .bell-bottom::before {
    left: 1px;
    border-bottom: 4px solid #ffffff;
    border-right: 0 solid transparent;
    border-left: 4px solid transparent;
  }
  .bell-bottom::after {
    right: 1px;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-left: 0 solid transparent;
  }
  .bell-rad {
    width: 4.5px;
    height: 3px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    animation: rad 1s 2s both infinite;
  }
  
  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
